  <div class="container">

  <h1 class="text-center">Discover the Club that Fits You!</h1>
  <br>
  <br>
  <br>
   <h3 class="text-center">Looking for a fun way to enjoy books and meet new people? </h3>

  <div class="row">
    <div class="col">
      <h5 class="text-center">Start a book club! We believe  <b>Beluga Book Clubs</b>  enhance the reading experience.</h5>
    <br>  
    <br>  
    <br>  
      <p class="col-md-12">Discussing books with friends, family, neighbors, colleagues, and/or acquaintances can  help keep
        you reading, provide new perspectives on life and literature, and lead to the creation of
        special bond.
      </p>
      <br>

    </div>
    </div>

  <div class="row">
      <!-- Search form -->
      <div class="col-md 8">
      <form action='/clubs/' class="search-form">
      <i class="fas fa-search"></i>
      <input class="form-control form-control-md ml-8 w-100"type="search" name="term" placeholder="search for club id">
    </form>
      </form>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-6"><h3>Popular Clubs</h3></div>
    <div class="col-md-6"><h3>Recently Published Clubs</h3></div>
  </div>
  <br>
  <br>
  <div class="row">

    <div class="col-md-6">
          {{#each Popclubs}}
            <div class="row"> 
              <div class="col-3">
                <div class='row'>
                  <a href="/clubs/{{this.id}}">{{this.clubname}}</a>
                </div>
              </div>
            <div class="col-6">
              <div class="row"> 
                <p> Users: {{this.userCount}}</p> 
              </div>
            </div>
            </div>
          {{/each}}
    </div>


    <div class="col-md-6">
          {{#each clubs}}
            <div class="row">
              <div class="col-3">
                <div class='row'>
                  <a href="/clubs/{{this.id}}">{{this.clubname}}</a>
                </div>
              </div>
            <div class="col-6">
              <div class="row"> 
                <p> About Club: {{this.description}}</p> 
              </div>
            </div>
            </div>
          {{/each}}
    </div>

  </div>
</div>
</div>

{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
{{!-- <script src="/js/index.js"></script> --}}