<style>
    .home-feature {
        border: 1px solid #ccc;
        border-radius: 8px;
        margin: 20px auto;
        padding: 20px;
        width: 45%;
    }
    .home-feature li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .home-submit {
        margin: 10px 0;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col">
            <img src="images/books.jpg" alt="" width="350" height="350" style="float:right;">
            <h2><br>Looking for a fun way to enjoy books and meet new people? </h2>
            <p>Start a book club! We believe book clubs enhance the reading experience</p>
            <p>Discussing books with friends, family, neighbors, colleagues, and/or acquaintances can help keep
                you reading, provide new perspectives on life and literature, and lead to the creation of
                special bond</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 home-feature">
            <h3>Discover the Club that fits you</h3>
            <!-- Search for club by name form -->
            <form class="clearfix mb-4">
                <div class="form-group">
                    <input type="search" id="club-name-search" class="form-control" aria-describedby="club-name-search"
                        placeholder="Search for a club by name">
                    <input type="submit" id="club-name-search-submit" value="Search" class="home-submit">
                </div>
            </form>
            <div id="club-name-search-results"></div>
        </div>
        <div class="col-1"></div>
        <div class="col-md-5 home-feature">
            <h3><br></h3>
            <!-- Search for club by id form -->
            <form class="clearfix mb-4">
                <div class="form-group">
                    <input type="search" id="club-id-search" class="form-control" aria-describedby="club-id-search"
                        placeholder="Search for a club by id">
                    <input type="submit" id="club-id-search-submit" value="Search" class="home-submit">
                </div>
            </form>
            <div id="club-id-search-results"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 home-feature">
            <h3>Popular Clubs</h3>

            {{!-- {{log clubs}} --}}
            {{#each Popclubs}}
            <a href="/clubs/{{this.id}}">{{this.clubname}}</a>
            <p>Members: {{this.userCount}}</p>
            {{/each}}
        </div>
        <div class="col-1"></div>
        <div class="col-md-5 home-feature">
            <h3>Recently Published Clubs</h3>

            {{#each clubs}}
            <a href="/clubs/{{this.id}}">{{this.clubname}}</a>
            <p>About Club: {{this.description}}</p>
            {{/each}}
        </div>
    </div>

</div>
</div>

{{!-- <script src="/js/club.js"></script> --}}

{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
<script src="/js/index.js"></script>