<div id="home">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Discover the Club that fits you</h1>
                <h2>Welcome to our app</h2>
                <p>Lorum Ipsum</p>
                <br><br>
                <br><br>
            </div>
        </div>
        <div class="row">
            <!-- Search for club by name form -->
            <div class="col-md 8">
                <form class="clearfix mb-4">
                    <div class="form-group">
                        <input type="search" id="club-name-search" class="form-control" aria-describedby="club-name-search"
                            placeholder="search for club by name">
                        <input type="submit" id="club-name-search-submit" value="Search">
                        {{!-- <button class="btn" id="club-name-search-submit">Submit</button> --}}
                    </div>
                </form>
                <div id="club-name-search-results"></div>
            </div>
        </div>
        <div class="row">
            <!-- Search for club by id form -->
            <div class="col-md 8">
                <form class="clearfix mb-4">
                    <div class="form-group">
                        <input type="search" id="club-id-search" class="form-control" aria-describedby="club-id-search"
                            placeholder="search for club id">
                        <input type="submit" id="club-id-search-submit" value="Search">
                        {{!-- <button class="btn" id="club-id-search-submit">Submit</button> --}}
                    </div>
                </form>
                <div id="club-id-search-results"></div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <h3 class="text-center">Popular Clubs</h3>
                <div>
                    {{log clubs}}
                    {{!-- data from the routes --}}
                    {{#each clubs}}
                    <div class="row">
                        <a href="/{{this.clubName}}">{{this.clubName}}</a>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="text-center">Recently Published Clubs</h3>
                {{#each clubs}}
                <div class="row">
                    <a href="/{{this.clubName}}">{{this.clubName}}</a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

{{!-- <script src="/js/club.js"></script> --}}

{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
<script src="/js/index.js"></script>